*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
height:100%;
width:100%;
overflow:hidden;
background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.navcontainer{
width: 100vw;
/* background-color: rgb(124, 198, 247); */
background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
min-height: 80px;
display: flex;
justify-content: center;
position:relative;

}
nav{
    width:100%;
   
}
#navlist{
    width:100%;
    padding: 15px;
    /* margin-left:15px; 
     margin-right: 15px; */
    list-style: none;
    font-size: 1.5rem;
    color: rgb(141, 141, 224);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#logo
{
    color: rgb(197, 12, 197);
    font-family: 'Times New Roman', Times, serif;
    font-size:3rem ;
}
a{
    text-decoration: none;
    color: rgb(213, 20, 123);
}
#navitems{
    display: flex;
    gap:15px;
}
.footerBox{
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
width: 100%;
text-align: center;
min-height: 40px;
}
.footerBox p{
    color: black;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 2rem;
    width: 100%;
}
.contentBox{
    width:70%;
    margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap:100px;
  padding: 2rem;
  box-shadow: 3px 3px 30px black;
}
.item{
    display:flex;
   
    justify-content: space-around;
    align-items: center;

}
.leftBox
{
    font-family: 'Times New Roman', Times, serif;
font-size: 20px;
display: flex;
flex-direction: column;
gap:20px;


}
.leftBox h2{
    font-size: 3rem;
}
.rightBox{
    position: relative;
    overflow: none;
    display: flex;
    justify-content: space-evenly;
   transition: all  0.3s linear 0s;
   box-shadow: 1px 5px 5px black;
   border-radius: 10px;
}
.rightBox img{
    
    height:300px;
    width:300px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.5s linear 0s;
}
.rightBox:hover{
    transform: scale(1.2);
 
}
.ingBox{
   font-size: 1.5rem; 
}
.rightBox .overlay{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(36,34,34,0.713);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition:all 0.3s linear 0s;
}
.rightBox:hover .overlay{
    opacity:1;
}

.rightBox .overlay span{
    color:white;
    font-size: 1.2rem;
}